.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.detail__content {
  text-align: center;
  position: absolute;
  top: 505px;
  left: 305px;
  width: 390px;
  height: 160px;
  font-size: 20px;
  opacity: 0.9;
}
.detail {
  border: none;
}
.glass-img {
  position: absolute;
  top: 280px;
  left: 400px;
  width: 200px;
  height: 80px;
  opacity: 0.8;
}

@media screen and (max-width: 1440px) {
  .glass-img {
    left: 23.3%;
  }
  .detail__content {
    left: 14.2%;
  }
}

@media screen and (max-width: 1200px) {
  .glass-img {
    left: 18%;
  }
  .detail__content {
    left: 7.2%;
  }
}
